.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 24px;
    background: url('./abacus.png');
}

@font-face {
    font-family: 'MyFont';
    src: url('./font-one.ttf') format('truetype'),
    url('./font-two.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }